<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>

<body>
  <div id="root"></div>
  <h1>This is products page</h1>
  <%- include('../partials/scripts.ejs')%>
</body>

</html>